@media (max-width: 960px) {
    #footer .row .col-3 {
        width: 100%;
        float: none;
        overflow: hidden;
        clear: both;
        padding: 0 48px 0 20px;
        margin-bottom: 20px;
    }

    #blog_section .row .col-3 {
        padding: 0 25px 0 0;
        width: 100%;
        margin-bottom: 20px;
        float: none;
        clear: both;
    }
}